@import '../variables/index.scss';

#about{
  height: auto;
}
/* Header */
#header-about {
  width: 75%;
  display: flex;
  margin: 19px auto;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
}


#header-about nav {
  display: none;
  /* Exibe a lista quando a classe active está presente */
}

#header-about nav.active {
  display: flex;
  /* Exibe a lista quando a classe active está presente */
}

#header-about ul {
  background-image: url('../src/image/bg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background-color 0.8s;
  list-style: none;
  padding: 15px;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

#nav a {
  text-decoration: none;
}

#nav li {
  margin-top: 15px;
}

.nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 5px;
}

.nav-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Viewport */
.container-about {
  margin: 42px auto 52px auto;
  width: 75%;

}

.container-about h2 {
  text-transform: uppercase;
  @include typhography(medium, 600, $text-color-dark-mode)
}

.container-about h1 {
  text-transform: uppercase;
  @include typhography(extrabig, 600, $text-color-dark-mode-seconedary);
  margin: 8px 0;
}

.social-btn {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.button-container {
  width: 144px;
  height: 40px;
  overflow: hidden;
  border-radius: 4px;
}

.social-btn a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.social-btn ion-icon {
  width: 21px;
  height: 22px;
}

a.blue-btn {
  border-image: linear-gradient(to right, #9358F7, #10D7E2);
  border-image: -webkit-linear-gradient(to right, #9358F7, #10D7E2);
  background: none;
    border-image-slice: 1;
    border-style: solid;
}

a.blue-bnt:active {
  background: $surface-color-dark-mode;
}

a.pink-btn {
  border-image: linear-gradient(to right, #D24074,#6518B4);
  border-image: -webkit-linear-gradient(to right, #D24074, #6518B4);
  background: none;
  border-image-slice: 1;
  border-style: solid;
}

a.pink-btn:active {
  background: $surface-color-dark-mode;
}

.dark-bg{
  background: linear-gradient(to right, #151515,#15151500);
  background: -webkit-linear-gradient(to right, #151515,#15151500);
  // height: 400px;
}

.container-text h2{
  @include typhography(big, 600, $text-color-dark-mode);
  padding-top: 42px;
  padding-bottom: 50px;
}

.container-text p {
  @include typhography(normal, 300, $text-color-dark-mode);
  padding-top: 8px;
}

/* Media Queries */
@media(min-width: 750px) {

  .nav-toggle {
    cursor: pointer;
    display: none;
    /* Esconde o ícone de hambúrguer em telas maiores */
  }


}