@import '../variables/index.scss';

header,
main,
footer {
  margin: 0 27px;
}

/* Header */
#header-about {
  display: flex;
  margin: 19px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
}


#header-about nav {
  display: none;
  /* Exibe a lista quando a classe active está presente */
}

#header-about nav.active {
  display: flex;
  /* Exibe a lista quando a classe active está presente */
}

#header-about ul {
  background: var(--surface-color);
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background-color 0.8s;
  list-style: none;
  padding: 15px;
  flex-direction: column;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

#nav a{
  text-decoration: none;  
}

#nav li {
  margin-top: 15px;
}

.nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 5px;
}

.nav-toggle {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Viewport */
#container-about {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.80) 0%, rgba(18, 18, 18, 0.00) 100%);
}

/* Media Queries */
@media(min-width: 850px) {

  .nav-toggle {
    cursor: pointer;
    display: none;
    /* Esconde o ícone de hambúrguer em telas maiores */
  }


}