@import '../variables/index.scss';

header,
main,
footer {
  margin: 0 27px;
  // border: 1px solid blue;
}

#header-about{
  display: flex;
  margin: 19px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 40px;
  height: 40px;
  // border: 1px solid red;
}


ion-icon {
  // border: 1px solid red;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

#container-about {
  background: linear-gradient(180deg, rgba(18, 18, 18, 0.80) 0%, rgba(18, 18, 18, 0.00) 100%);
}